.Card{
    display: grid;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: 'Baloo Paaji 2', cursive;
    transform: perspective(0em) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}