.ma{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    height: 300vh;
    background-color: #282c34;
    font-family: 'Baloo Paaji 2', cursive;

}